.sidebar-menu .side-menu .submenu {
    overflow-y: hidden;
    height: 0;
    transition: all 0.3s;
}

.showAll {
    position: absolute;
    background-color: #343c49;
    display: inline;
    width: 180px;
    top: 10;
    left: 60px;
    z-index: 10;
}

.showAll li {
    top: 0;
    left: 0;
    padding: 0
}

.hideAll {
    display: none;
}

/* The container */

  
  /* Track */
  .scrollable::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }
  
  /* Handle */
  .scrollable::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.7); /* Handle color with opacity (rgba) */
    border-radius: 6px; /* Roundness of the handle */
  }
  
  /* Handle on hover */
  .scrollable::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.7); /* Handle color with opacity on hover */
  }
  
  /* Track */
  .scrollable::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.7); /* Track color with opacity */
    border-radius: 6px; /* Roundness of the track */
  }
  