.sidebar-menu .side-menu .submenu {
    overflow-y: hidden;
    height: 0;
    transition: all 0.3s;
}

.showAll {
    position: absolute;
    background-color: #343c49;
    display: inline;
    width: 180px;
    top: 10;
    left: 60px;
    z-index: 10;
}

.showAll li {
    top: 0;
    left: 0;
    padding: 0
}

.hideAll {
    display: none;
}