@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Karla:700|Nunito+Sans:300,400,500,600,700");

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color:#797979
}

.arrow-right::after {
  font-family: 'Material Design Icons';
  content: '\f0142'; /* Unicode content code */
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  font-size: 18px; /* Adjust size as needed */
}

.arrow-down::after {
  font-family: 'Material Design Icons';
  content: '\f0140'; /* Unicode content code */
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  font-size: 18px; /* Adjust size as needed */
}